
<div class = "wrapper">
<div class = "grid grid-pad">
<div class = "column" *ngFor = "let toon of toons" class = "col-1-4">


<h3>

    <a [title] = "'Toon' + toon.id">

{{toon.name}}

    </a>


</h3>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose Gag
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li class="dropdown-item"><a href="#">Test</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-submenu">
          <a  class="dropdown-item" tabindex="-1" href="#">Sound</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#" (click)="gagChoice('Kazoo',toon.id)">Kazoo</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice('Bike Horn',toon.id)">Bike Horn</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice('Whistle',toon.id)">Whistle</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice('Bugle',toon.id)">Bugle</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice('Aoogah',toon.id)">Aoogah</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice('Elephant Trunk',toon.id)">Elephant Trunk</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice('Foghorn',toon.id)">Foghorn</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice('Opera Singer',toon.id)">Opera Singer</a></li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a  class="dropdown-item" tabindex="-1" href="#">Throw</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Cupcake</a></li>
            <li class="dropdown-item"><a href="#">Fruit Pie Slice</a></li>
            <li class="dropdown-item"><a href="#">Cream Pie Slice</a></li>
            <li class="dropdown-item"><a href="#">Birthday Cake Slice</a></li>
            <li class="dropdown-item"><a href="#">Whole Fruit Pie</a></li>
            <li class="dropdown-item"><a href="#">Whole Cream Pie</a></li>
            <li class="dropdown-item"><a href="#">Birthday Cake</a></li>
            <li class="dropdown-item"><a href="#">Wedding Cake</a></li>
          </ul>
        </li>
 
        <li class="dropdown-submenu">
          <a  class="dropdown-item" tabindex="-1" href="#">Squirt</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Squirting Flower</a></li>
            <li class="dropdown-item"><a href="#">Glass of Water</a></li>
            <li class="dropdown-item"><a href="#">Squirt Gun</a></li>
            <li class="dropdown-item"><a href="#">Water Balloon</a></li>
            <li class="dropdown-item"><a href="#">Seltzer Bottle</a></li>
            <li class="dropdown-item"><a href="#">Fire Hose</a></li>
            <li class="dropdown-item"><a href="#">Storm Cloud</a></li>
            <li class="dropdown-item"><a href="#">Geyser</a></li>
          </ul>
        </li>
        
      </ul>
      <p>You chose: {{toon.gag}}</p>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Prestige</label>
  </div>
</div>



</div>

</div>
