
<div class = "wrapper">
<div class = "grid grid-pad">
<div class = "column" *ngFor = "let toon of toons" class = "col-1-4">


<h3>

    <a [title] = "'Toon' + toon.id">

{{toon.name}}

    </a>


</h3>


<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose Gag
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li class="dropdown-item"><a href="#">Test</a></li>
        <li class="dropdown-divider"></li>
        <li class="dropdown-submenu">
          <a  class="dropdown-item" tabindex="-1" href="#">Sound</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#" (click)="gagChoice(25,toon.id)">Kazoo</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(26,toon.id)">Bike Horn</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(27,toon.id)">Whistle</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(28,toon.id)">Bugle</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(29,toon.id)">Aoogah</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(30,toon.id)">Elephant Trunk</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(31,toon.id)">Foghorn</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(32,toon.id)">Opera Singer</a></li>
          </ul>
        </li>

        <li class="dropdown-submenu">
          <a  class="dropdown-item" tabindex="-1" href="#">Throw</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#"(click)="gagChoice(49,toon.id)">Cupcake</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(50,toon.id)">Fruit Pie Slice</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(51,toon.id)">Cream Pie Slice</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(52,toon.id)">Birthday Cake Slice</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(53,toon.id)">Whole Fruit Pie</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(54,toon.id)">Whole Cream Pie</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(55,toon.id)">Birthday Cake</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(56,toon.id)">Wedding Cake</a></li>
          </ul>
        </li>
 
        <li class="dropdown-submenu">
          <a  class="dropdown-item" tabindex="-1" href="#">Squirt</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#"(click)="gagChoice(33,toon.id)">Squirting Flower</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(34,toon.id)">Glass of Water</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(35,toon.id)">Squirt Gun</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(36,toon.id)">Water Balloon</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(37,toon.id)">Seltzer Bottle</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(38,toon.id)">Fire Hose</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(39,toon.id)">Storm Cloud</a></li>
            <li class="dropdown-item"><a href="#"(click)="gagChoice(40,toon.id)">Geyser</a></li>
          </ul>
        </li>
        
      </ul>
      <p>You chose: {{toon.gag}}</p>
      <p>Gag Damage: {{toon.maxRange}}</p>
</div>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Prestige</label>
  </div>
</div>



</div>

</div>
